h1 {
    color: #B33951;
    font-display: block;
}

body {
    background-color: #F1F7ED
}

/******* left sidebar ******/
.pic {
    border-radius: 60%
}

#left-col h1 {
    font-size: 1.2em;
}

#left-col h2 {
    font-size: 1.2em;
    color: #54494B;
}

#left-col {
    padding-left: 3em;
    padding-top: 7em;
    background-color: #db9f7f;
    height: 100vh;
    width: 40vh;
    

}

#name {
    margin-top: 2em;
}

ul {
    list-style: none;
    align-content: center;
    padding: 0; 
    
}
a {
    color: #54494B; 
}
/****Right ssidear****/
#education {
    margin-top: 2.5em;

}

#right-col h3 {
    font-size: 1em;
    color: #54494B;
}

#right-col {
    margin-right: 4em;
    margin-top: 4em;
    margin-left: 22em;

}

.titles {
    color: #E3D081;
    font-family: ;
}

.row {
    margin-left: 2em;
}

.mika {
    color: #54494B;
    font-family: monospace;
    font-size: 1.2em
}
